<div class="intro">
  <video autoplay muted id="bgvid" loop src="http://i.imgur.com/gKRoBFQ.mp4" poster="./img/bg-for-video.png"></video>
  <div id="content-box">
    <h1>Не має на кого лишити свого друга?</h1>
    <p>Є вихід!</p>
    <p>Наш сайт допоможе Вам швидко знайти перевірину людину для догляду за Вашим домашнім улюбленцем.</p>
    <p>Їдете у відпустку? Потрібно вигулювати собаку? Не вистачає часу для догляду за акваріумом?</p>
    <a href="#/about" id="button-about">Чому ми?</a>
  </div>
</div>
